@import 'tailwindcss';

@theme {
    --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;

    /* main colors */
    --color-tichtich-primary-300: #ffefcd;
    --color-tichtich-primary-200: #ef6725;
    --color-tichtich-primary-100: #fab516fd;

    /* supporting colors */
    --color-tichtich-black: #000000;
    --color-tichtich-violet: #2d2f76;
    --color-tichtich-blue: #c4f0f6;
    --color-tichtich-green: #c5d047;
    --color-tichtich-red: #ff0000;
    --color-tichtich-pink: #f9c3d2;
    --color-tichtich-orange: #ef6725;
    --color-tichtich-yellow: #ffb700;

    /* profile card colors */
    --color-profile-parent: #ded5c9;
    --color-profile-boy: #c0e0f0;
    --color-profile-girl: #f0d0e0;

    /* profile-pin page */
    --color-profile-pin-frame: #908470;
}

@layer {
    .mobile-container {
        @apply w-full max-w-[720px] mx-auto;
    }
}
